scipy
imgaug
pandas
Pillow
cython
openpyxl
networkx
matplotlib
scikit-learn
IPython[all]
numpy
tensorflow==1.15
keras>=2.0.8
h5py
scikit-image==0.16.2
opencv-python
opencv-contrib-python==3.4.2.17



